:root{
	--main-bg-color: #fff;
	--main-text-color: #000;
	--header-bg-color: #212121;
	--header-text-color: #fff;
	--logo-text-color: #eeeeee;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Red Hat Mono', monospace;
	margin: 0;
}

.logo{
	border-bottom: 3px solid var(--logo-text-color);
	border-right: 3px solid var(--logo-text-color);
	width: 120px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.bar {
	background-color: var(--header-bg-color);
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	align-items: center;
	box-shadow: 1px 1px 4px 0px #000;
	position: sticky;
	top: 0;
}


.bar h1 {
	color: #eeeeee;
	font-size: 1.6rem;
}
.navigation {
	display: flex;
	list-style: none;
}

.navigation a {
	text-decoration: none;
	padding-left: 30px;
	color: #fff;
}

.navigation a:hover {
	text-decoration: underline;
	text-underline-offset: 10px;
}
.icon:hover {
	color: rgb(79, 112, 101);
	transform: rotate(50deg);
}

.profile_section {
	/* border: 2px solid blue; */
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* padding: 95px 0; */
	padding: auto 0;
}

.profile_text{
	/* border: solid 2px blueviolet; */
	max-width: 600px;
}

.picture_box{
	/* border: solid 2px red; */
}

#laptop {
	width: 400px;
	height: 400px;
}


.icon_infinite{
	/* border: 3px solid rebeccapurple; */
	max-width: 450px;
}

.profile_text_section{
	/* border: solid 2px yellow; */
	max-width: 600px;
}

.section-center {
	/* border: 2px solid #212121; */
	max-width: 3000px;
	display: flex;
	justify-content: space-around;
	margin: auto 90px; 
	padding: 50px;
}

#name {
	/* border: solid 2px palevioletred; */
	font-weight: normal;
	font-size: 3rem;
	margin-bottom: 35px;
}
.profile_text, .hi_text {
	/* border: solid 2px green; */
	font-size: 1.18rem;
	line-height: 1.6;
	max-width: 450px;
}


.button, .contact_me {
	border: 3px solid black;
	padding: 10px 15px;
	text-decoration: none;
	color: #333;
	border-radius: 8px;
	font-size: 1.18rem;
	display: inline-block;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.5s;
	margin-top: 35px;
}

.button:hover, .contact_me:hover {
	box-shadow: inset 400px 50px 0 0 #212121;
	color: #eeeeee;
  }
  
  #outer {
	width: 364px;
	margin: 50px auto 0 auto;
	text-align: center;
  }


#name{
	font-weight: bold;
}

.section2-center h3 {
	color: #eeeeee;
	text-align: center;
	padding: 20px 0;
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0;
}

.section2-center p {
	margin: 0;
	line-height: 1.6;
	color: rgb(79, 112, 101);
}
.footer {
	text-align: center;
	padding: 60px 45px;
	font-size: 0.9rem;
	color: #999;
	background-color: #212121;
	box-shadow: 1px 1px 10px 0px #000;

}

.item {
	border: 2px solid rgb(27, 26, 26);
	padding:15px;
}

.item:hover {
	border: 2px solid #eeeeee;
}

.section2-center {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px, 1fr)); 
	grid-gap: 45px;
}

.section2 {
	background-color: #212121;
	padding: 60px 45px;
}

#me {
	width: 450px;
	height: 450px;
}

/* --------------------About Me Section-------------------- */

.about_Me_section {
	/* border: solid 2px rgb(0, 255, 42); */
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-size: 1.18rem;
}
.about_me_tittle{
	text-align: center;
	font-size: 50px;
}
.about {
	/* border: solid 2px #000; */
}

.about_text_button_section {
	/* border: solid 2px purple; */
}
.about_picture_box {
	/* border: solid 2px orange; */
}

.about_inner_box {
	/* border: solid 2px red; */
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 0 auto;
}

.about_me_head_text{
	/* border: solid 2px palevioletred; */
	max-width: 250px;
	/* padding-bottom: 35px; */
	font-size: 20px;
}

.about_me_text{
	/* border: solid 2px yellowgreen; */
	max-width: 600px;
	padding-top: 20px;
}

.about_me_tittle {
	/* border: solid 2px red; */
	padding-bottom: 40px;
}